@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Noto+Sans+KR:wght@300;400;500&family=Open+Sans:wght@600&family=Roboto:wght@300;400&display=swap');
* {
  margin: 0;   /* 마진 리셋 */
  padding: 0;   /* 패딩 리셋 */
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */
}
html, body {
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}
a {
  text-decoration: none;  /* 텍스트 링크 밑줄 없애기 */
}
ul {
  list-style: none; /* 리스트 스타일 없애기 */
}

.row {
  height: 100%;
}

/*********************************/
/*           대문 영역           */
/*********************************/
.title_page {
  position: absolute;
  width: 50%;
  height: 30%;
  margin-top: 50px;
  padding: 0;
  line-height: 50vh;
  align-content: center;
  text-align: center;
  top: 11%;
  left: 25%;
  transform: translate(-50%, -50%);
}
    #title_text {
      font-family: 'Alumni Sans Collegiate One', sans-serif;
      font-size: 13em;
      color: #BFCFFF;
      text-shadow: 3px -3px 5px #2b3245;
      margin-top: 20%;
      margin-bottom: 0;
      line-height: 60%;
  }
    #today_style {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 2em;
      font-weight: 400;
      color: #82a0fb;
      text-shadow: 1px -2px 3px navy;
      margin-bottom: 0;
      line-height: 80%;
    }
    #introduce {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.8em;
      font-weight: 500;
      color: #6086f8;
      text-shadow: 1px -2px 3px navy;
      margin-top: 10px;
    }
  .area_sns {
    margin: 0 auto;
    width: 100%;
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(200, 212, 231);
    }
      /*#button {
          font-size: 6em;
      }*/
      #button :hover {
          cursor: pointer;
      }
/*********************************/
/*  헤더 영역 - 로고와 네비게이션  */
/*********************************/
  #container {
    margin: 0 auto;  /* 화면 중앙에 배치 */
    /* background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;  */
    font-family: 'NanumGothicCodingBold';
  }

/* 로고 */
  #logo{
    float: left;   /* 왼쪽으로 플로팅 */
    width: 100%;   /*  너비 */
    /*height: 100%;    높이 */
    margin: 0 auto;
    line-height: 100px;  /* 세로로 중간에 맞춤 - 줄간격을 높이 값과 같게 */
    /* padding-left: 5%;  왼쪽에 여백 */
    padding-top: 25px;
  }
  #logo h1 {
    width: 100%;
    /*height: 100%; */
    margin: 0 auto;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 6.5em;   /* 글자 크기 */
    color: #C8D9EB;   /* 글자 색*/
    text-shadow: 1px -1px 3px #16213E;  /* 그림자 색 */
    text-align: center;
  }

/* 네비게이션 */
#nav {
  width: 100%;
  height:50px;
  }

  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  }

#topMenu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  font-family: 'NanumGothicCodingBold';
  font-weight: 400;  /* 글자 굵기 */
  text-align: center;
  margin-top: 15%;
}

#topMenu > li {
  float: left;  /* 메뉴 항목을 왼쪽으로 플로팅 */
  position: relative;  /* 서브 메뉴를 absolute로 하기 위해, 이 부분을 relative로 */
  align-items: center;
  text-align: center;
}
#topMenu > li > a{
  font-size: 1em;
  display: block;  /* 링크 텍스트는 블록으로 */
  color: #BFCFFF;  /* 글자 색 */
  font-weight: 400;  /* 글자 굵기 */
  text-shadow: 0 1px #6086f8;  /* 그림자 추가 */
  padding: 15px 15px;  /* 패딩 */
}
#topMenu > li > a > span {
  font-size: 0.5em;   /* 서브 메뉴가 있는 항목에 화살표 표시 */
}
#topMenu > li > a:hover {
  color: #82a0fb;  /* 마우스 오버하면 색상 바뀜 */
  text-shadow: 0 -1px #6086f8;  /* 글자가 너무 굵어지지 않도록 */
}

#topMenu > li > ul { /* 서브 메뉴 스타일 */
  display: none;  /* 서브 메뉴 처음에는 화면에 안 보이게 */
  position: absolute;  /* 서브 메뉴 포지셔닝 */
  width: 160px;
  background: rgba(255,255,255,0.6);  /* 슬라이드 쇼 비치도록 배경 색 조절 */
  /* left: 20px;      */
  margin: 0;
  padding-left: 0;
}
#topMenu > li > ul > li {
  padding: 5px;   /* 서브 메뉴 항목 */
  padding-left: 0;
}
#topMenu > li > ul > li > a {
  font-size: 14px;
  padding: 10px;
  color: #000;
}
#topMenu > li:hover > ul {
  display: block;  /* 메인 메뉴 항목 위로 오버하면 서브 메뉴 표시 */
  z-index: 10;  /* 슬라이드 쇼에 가리지 않게 조절 */
}
#topMenu > li > ul > li > a:hover {
  color: steelblue;  /* 서브 메뉴 마우스 오버하면 색상 바뀜 */
}

/********************************/
/*   이미지 슬라이드 쇼 영역     */
/********************************/
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}
.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper-pagination {
  opacity: 0.5;
  color: #000;
}

.swiper-button-prev {
  position: absolute;
  width: 7.5%;
  height: 120%;  /* 위아래 가득 차게 */
  top: 0;
  left: 0;
  border: none;  /* 테두리 없이 */
  /* padding: 20px; */
  background-color: transparent;  /* 투명 배경 */
  color: #000;  /* 화살표 색은 검정 */
  font-weight: 800;  /* 굵게 */
  font-size: 24px;  /* 화살표 크기 */
  opacity: 0.5;  /* 반투명 */
}
.swiper-button-next {
  position: absolute;
  width: 7.5%;
  height: 120%;  /* 위아래 가득 차게 */
  top: 0;
  /* right: 0; */
  border: none;  /* 테두리 없이 */
  /* padding: 20px; */
  background-color: transparent;  /* 투명 배경 */
  color: #000;  /* 화살표 색은 검정 */
  font-weight: 800;  /* 굵게 */
  font-size: 24px;  /* 화살표 크기 */
  opacity: 0.5;  /* 반투명 */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #222;  /* 짙은 회색 배경 */
    color: #fff;   /* 흰색 화살표 */
    opacity: 0.6;   /* 불투명도를 조금 높임 */
    cursor: pointer;  /* 커서 모양을 포인터로 */
  }
  .swiper-button-next:focus,
  .swiper-button-prev:focus {
    outline: 0;  /* 아웃라인 없앰 */
  }

  :root {
    --swiper-theme-color: #162535;
}

/***************************************/
/*       콘텐츠 영역  - 퀵 링크        */
/**************************************/

/* 퀵 링크 */
.bottom {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;   /* 너비 */
  height: 110%;   /* 높이 */
  align-items: center;
  display: block;
  /* margin-top: 45px; */
}
  #links ul{
    padding:0;  /* 패딩 */
    overflow: hidden;  /* 넘치는 것은 감춤 */
    padding-top: 30px;
  }
  #links ul li{
    float:left;  /* 가로로 배치 */
    width:33%;  /* 1/3 크기만큼씩 */
    text-align:center;  /* 가운데 정렬 */
    margin:0 auto;  /* 마진 */
  }

  #links ul li a span{
    display:block;  /* 블록 레벨로 */
    margin:0 auto;  /* 가운데 배치 */
    width:120px;  /* 가로 크기 */
    height:120px;  /* 세로 크기 */
    border-radius: 50%;   /*테두리 둥글게 */
    border: 2px solid rgb(182, 207, 254);   /*테두리 스타일 */
    line-height:150px;  /* 수직으로 중간에 오게 */
  }

  #quick-icon1 {
    background-image:url('../images/whale.png');
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
  }
  #quick-icon2 {
    background-image:url('../images/clown-fish.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
  }
  #quick-icon3 {
    background-image:url('../images/shark.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
  }

  #links ul li a p {
    margin-top: 5px;  /* 위쪽 마진 */
    font-size: 1em;
    font-family: 'NanumGothicCodingBold';
    font-weight: 400;  /* 글자 굵기 */
    color: whitesmoke;  /* 글자 색 */
  }
  #area_sns ul{
    padding:0;  /* 패딩 */
    overflow: hidden;  /* 넘치는 것은 감춤 */
    padding-top: 7px;
  }
  #area_sns ul li{
    float:left;  /* 가로로 배치 */
    width:25%;  /* 1/4 크기만큼씩 */
    text-align:center;  /* 가운데 정렬 */
    margin:0 auto;  /* 마진 */
    /* border-radius: 50%;  /* 테두리 둥글게 */
    /*border: 1.5px solid rgb(182, 207, 254);  테두리 스타일 */
  }

  #area_sns ul li a span{
    display:block;  /* 블록 레벨로 */
    margin:0 auto;  /* 가운데 배치 */
    width: 70px;  /* 가로 크기 */
    height: 70px;  /* 세로 크기 */
    border-radius: 30%;  /* 테두리 둥글게 */
    line-height:150px;  /* 수직으로 중간에 오게 */
  }

  #quick-icon4 {
    background-image:url('../images/m.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  #quick-icon5 {
    background-image:url('../images/s.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  #quick-icon6 {
    background-image:url('../images/w.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  #quick-icon7 {
    background-image:url('../images/29.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }

  #area_sns ul li a p {
    margin-top: 5px;  /* 위쪽 마진 */
    font-family: 'NanumGothicCodingBold';
    font-size: 1em;
    font-weight: 400;  /* 글자 굵기 */
    color: whitesmoke;  /* 글자 색 */
  }