<html>

<head>
    <title>DEEP OCEAN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
      <link href=" {{ url_for('static', filename='predictboy.css')  }} " rel="stylesheet">

</head>

<body>
<h1>당신의 스타일은...</h1>
<div class="agile-its">

    <h2>당신의 옷 스타일은 {{label}}! AI가 이 스타일의 추천사진을 보여드릴게요!</h2>

    <form id="upload" action="/predictboy" method="POST" enctype="multipart/form-data">
        <div class="img">
<!--            <div id="image_preview">-->
<!--                <img style="width:400px; height:600px;" img id="preview" />-->
<!--            </div>-->
            <div class="f_box">
                    <!-- <label for="img">사진첨부</label> -->
                    <input type="file" id="img"  name="image" onchange="readURL(this);">
            </div>

<!--            <input id="target_btn" type="submit" class="btn-btn"  disabled value="예측 결과" onclick="javascript:alert('스타일 분석 완료!');">-->
            <button><a onclick="window.location.href='/stylecls'" style="background-color: #c7ccc3;">다른 사진으로 다시할래</a></button>

        </div>

        <div>

        </div>

        <div>
            {% for i in range(64) %}
            <img src="{{imagerows[i]['url']}}">
            {% endfor %}
        </div>
    </form>
    <script>
        function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      document.getElementById('preview').src = e.target.result;
    };
    reader.readAsDataURL(input.files[0]);
  } else {
    document.getElementById('preview').src = "";
  }
}
    </script>
</body>
</html>
