<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="DEEP OCEAN">
    <meta name="description" content="오늘의 패션">
    <link rel="icon" type="image/svg+xml" href=" {{ url_for('static', filename='water-solid.svg')  }} ">

    <title>DEEP OCEAN</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-145482737-6');
    </script>

      <link href=" {{ url_for('static', filename='index.css')  }} " rel="stylesheet">

</head>

    <body>
        <section class="section">
            <button onclick="window.location.href='/'" type="button" class="btn btn-secondary">메인으로 돌아가기</button>
            <h1 class="title">🥼👖Today's Fashion👟👟</h1>
            <form id="upload" action="/predictgirl" method="POST" enctype="multipart/form-data">
                <section class="genderselecter">
                <div>
                    <input type="checkbox" id="gender" onclick="genderselect()">
                    <label for="gender">
                        <span class="knob">
                            <i></i>
                        </span>
                    </label>
                </div>
            </section>
        </section>

        <div class="file-upload">
            <div class="image-upload-wrap">
                <input id="img" name="image" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                <div class="drag-text">
                    <img src="../static/img10.gif" class="upload-photo" alt="upload-image">
                    <h3 class="upload-text">Click Here!</h3>

                </div>
            </div>
            <div class="file-upload-content">
<!--                <img class="file-upload-image" id="face-image" src="#" alt="your image" />-->
                <div id="loading" style="padding: 2px;">
                    <div id="load">
                        <img src="../static/img3.gif" alt="loading" style="width: 6em; height: 6em;">
                    </div>
                    <p class="text-center" style="font-size: 1.5em;">〰️AI가 패션을 분석하고 있습니다〰️</p>
                </div>
                <p class="result-message" style="font-size: 1.5em; margin: auto; padding: 5px;"></p>
                <div id="label-container" class="d-flex flex-column justify-content-around"></div>
                <div id="addThis" class="addthis_inline_share_toolbox_6lz1"></div>
                <div class="image-title-wrap">
<!--                    <button type="button" class="try-again-btn" onclick="gaReload()" data-bs-toggle="button" aria-pressed="true">-->
<!--                        <span class="try-again-text">Retry</span>-->
<!--                    </button>-->
                </form>
            </div>
        </div>
        <script>
            function gaReload() {
                gtag('event', '다른 사진으로 재시도', {
                    'event_category': '다른 사진으로 재시도'
                });
                window.location.reload();
            }
            function gaReload1() {
                gtag('event', '다른 사진으로 재시도 1차', {
                    'event_category': '다른 사진으로 재시도'
                });
            }
            function gaReload2() {
                gtag('event', '다른 사진으로 재시도 2차', {
                    'event_category': '다른 사진으로 재시도'
                });
                window.location.reload();
            }
            </script>
    </div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tjdahr22.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js"></script>
        <script>
            function genderselect(){
        let checkbox = document.getElementById("gender")

        if(checkbox.checked){
    <!--      // form action 남자로 바꾸는 함수-->
            $("#upload").attr("action", "/predictboy");
        }
        else {
    <!--      // form action 다시 여자로 바꾸는 함수-->
        $("#upload").attr("action", "/predictgirl");
        }
    }

               function subsub() {
                document.getElementById('upload').submit();
                return false;
                   }

<!--              function subsub() {-->
<!--              setTimeout(function() {-->
<!--                document.getElementById('upload').submit();-->
<!--                return false;-->
<!--                   }, 2000);-->
<!--                   }-->



            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();


                    reader.onload = function(e) {
                        $('.image-upload-wrap').hide();
                        $('#loading').show();
                        $('.file-upload-image').hide;
<!--                        $('.file-upload-image').attr('src', e.target.result);-->
                        $('.file-upload-content').show();
                        $('.image-title').html(input.files[0].name);
                    };
                    reader.readAsDataURL(input.files[0]);
                    subsub()
                } else {
                    removeUpload();
                }
            }

            function removeUpload() {
                $('.file-upload-input').replaceWith($('.file-upload-input').clone());
                $('.file-upload-content').hide();
                $('.image-upload-wrap').show();
            }
            $('.image-upload-wrap').bind('dragover', function() {
                $('.image-upload-wrap').addClass('image-dropping');
            });
            $('.image-upload-wrap').bind('dragleave', function() {
                $('.image-upload-wrap').removeClass('image-dropping');
            });
        </script>
        <!-- <script type="text/javascript">
            let URL;
            const urlMale = "https://teachablemachine.withgoogle.com/models/o9D1N5TN/";
            const urlFemale = "https://teachablemachine.withgoogle.com/models/bB3YHn5r/";
            let model, webcam, labelContainer, maxPredictions;
            async function init() {
                if (document.getElementById("gender").checked) {
                    URL = urlMale;
                } else {
                    URL = urlFemale;
                }
                const modelURL = URL + "model.json";
                const metadataURL = URL + "metadata.json";
                model = await tmImage.load(modelURL, metadataURL);
                maxPredictions = model.getTotalClasses();
                labelContainer = document.getElementById("label-container");
                for (let i = 0; i < maxPredictions; i++) {
                    var element = document.createElement("div")
                    element.classList.add("d-flex");
                    labelContainer.appendChild(element);
                }
            }
            async function predict() {
                var image = document.getElementById("face-image")
                const prediction = await model.predict(image, false);
                prediction.sort((a, b) => parseFloat(b.probability) - parseFloat(a.probability));
                console.log(prediction[0].className);
                var resultTitle, resultExplain, resultCeleb;
                if (document.getElementById("gender").checked) {
                    gtag('event', '카테고리 분류 테스트', {
                        'event_category': '카테고리 분류 테스트',
                        'event_label': '남자'
                    });
                    switch (prediction[0].className) {
                        case "dog":
                            resultTitle = "스트릿 70%"

                            break;
                        case "cat":
                            resultTitle = "스트릿 86%"

                            break;
                        case "rabbit":
                            resultTitle = "스트릿 100%"

                            break;
                        case "dinosaur":
                            resultTitle = "포멀 85%"

                            break;
                        case "bear":
                        resultTitle = "스포츠 77%"
                            break;
                        default:
                        resultTitle = "스트릿 100%"
                    }
                } else {
                    gtag('event', '카테고리 분류 테스트', {
                        'event_category': '카테고리 분류 테스트',
                        'event_label': '여자'
                    });
                    switch (prediction[0].className) {
                        case "dog":
                        resultTitle = "스트릿 100%"
                            break;
                        case "cat":
                            resultTitle = "걸리시 70%"

                            break;
                        case "rabbit":
                        resultTitle = "스트릿 100%"
                            break;
                        case "deer":
                        resultTitle = "스트릿 100%"
                            break;
                        case "fox":
                        resultTitle = "스트릿 100%"
                            break;
                        default:

                    }
                }
                var title = "<div class='" + prediction[0].className + "-animal-title'>" + resultTitle + "</div>"
                $('.result-message').html(title);
            }


        </script> -->
</body>
</html>